<div id="<%= dom_id grade %>">
  <p>
    <strong>Ca1:</strong>
    <%= grade.ca1 %>
  </p>

  <p>
    <strong>Ca2:</strong>
    <%= grade.ca2 %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= grade.exam %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= grade.total %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade.grade %>
  </p>

  <p>
    <strong>Gradcourse:</strong>
    <%= grade.gradcourse_id %>
  </p>

  <p>
    <strong>Gradstudent:</strong>
    <%= grade.gradstudent_id %>
  </p>

</div>
