<p style="color: green"><%= notice %></p>

<%= render @grade %>

<div>
  <%= link_to "Edit this grade", edit_grade_path(@grade) %> |
  <%= link_to "Back to grades", grades_path %>

  <%= button_to "Destroy this grade", @grade, method: :delete %>
</div>
