<%= form_with(model: @grade) do |form| %>
<div id="<%= dom_id gradstudent %>">
  <div class= 'bills cadets-grading'>
    <div class='flex-row'>
      <p class= 'grey'><%= gradstudent.num %></p>
      <p class= 'text2'><%= gradstudent.service %></p>
      <p class= 'text2'><%= gradstudent.name %></p>
    </div>
    <div class='flex-row space'>
    <div class="field login-field text1">
      <%= form.number_field :ca1, class: 'grading-field' %>
    </div>

    <div class="field login-field text1 padding">
      <%= form.number_field :ca2, class: 'grading-field' %>
    </div>

    <div class="field login-field text1 padding">
      <%= form.number_field :exam, class: 'grading-field' %>
    </div>

    <div class="field login-field text1 padding">
      <%= form.number_field :total, class: 'grading-field' %>
    </div>

    <div class="field login-field text1 padding">
      <%= form.text_field :grade, class: '' %>
    </div>

    <%= form.hidden_field :course_id %>
    <%= form.hidden_field :student_id %>
  </div>
</div>

</div>
<%end%>

<%= form_with(model: @grade) do |form| %>

  
  <div>
    <%= form.submit %>
  </div>
<% end %>
