<div class='login'>
  <div>
    <%= link_to semesters_path, class: 'white' do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
  </div>
  <div>
    <p class='caps'><%= @semester.name %> SEMESTER</p>
  </div>
  <div class= 'empty-div'></div>
</div>

<div id="semesters">
  <% @gradclasses.ordered_by_name.each do |gradclass| %>
    <%= link_to gradclass do %>
      <%= render gradclass %>
    <% end %>
  <% end %>
</div>

<%# <%= link_to "New gradclass", new_gradclass_path %> 







<%# <div> %>
  <%# <%= link_to "Edit this semester", edit_semester_path(@semester) %>  
  <%# <%= link_to "Back to semesters", semesters_path %> 

  <%# <%= button_to "Destroy this semester", @semester, method: :delete %> 
<%# </div> %>
