<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class='login'>
    <%= link_to new_session_path(resource_name) do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
    <p>FORGOT PASSWORD?</p>
    <div class="actions">
      <%= f.submit "Send", class: 'submit-button' %>
    </div>
  </div>

  <div class='login-fields'>
    <div class="field login-field text1 padding">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-field' %>
    </div>
  </div>
<% end %>
