<%= form_with(model: option) do |form| %>
  <% if option.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
        <% option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='login-fields'>
    <div class="field login-field text1 padding">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: 'input-field' %>
      <hr class= 'rule'>    
    </div>

    <div class="field login-field text1 padding">
      <%= form.label :option_type, style: "display: block" %>
      <%= form.text_field :option_type, class: 'input-field' %>
      <hr class= 'rule'>  
    </div>

    <div class="field login-field text1 padding">
      <% @programs = Program.all %>
      <%= form.select :program_id, options_from_collection_for_select(@programs, :id, :name, params[:program_id]), { prompt: "Select Program" }, class: "form-select input-field prompt" %>
    </div>
  </div>

  <div class='form-btn'>
    <div class='edit-btn'>
      <%= form.submit 'Save', class: 'submit-button' %>
    </div>
  </div>

<% end %>
