<div class='login'>
  <div>
    <%= link_to root_path, class: 'white' do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
  </div>
  <div>
    <p>ADMIN</p>
  </div>
  <div class= 'empty-div'></div>
</div>

<%= link_to bills_admin_lecturers_path do %>
  <div class= 'bills'>
    <div class= 'flex-column'>
      <p class= 'text2'>LECTURERS</p>
    </div>
  </div>
<% end %>

<%= link_to bills_admin_programs_path do %>
  <div class= 'bills'>
    <div class= 'flex-column'>
      <p class= 'text2'>PROGRAMS</p>
    </div>
  </div>
<% end %>

<%= link_to bills_admin_options_path do %>
  <div class= 'bills'>
    <div class= 'flex-column'>
      <p class= 'text2'>OPTIONS</p>
    </div>
  </div>
<% end %>

<%= link_to bills_admin_courses_path do %>
  <div class= 'bills'>
    <div class= 'flex-column'>
      <p class= 'text2'>COURSES</p>
    </div>
  </div>
<% end %>
