<%= form_with(model: lecturer) do |form| %>
  <% if lecturer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>

      <ul>
        <% lecturer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :degrees, style: "display: block" %>
    <%= form.text_field :degrees %>
  </div>

  <div>
    <%= form.label :appointment, style: "display: block" %>
    <%= form.text_field :appointment %>
  </div>

  <div>
    <%= form.label :doa, style: "display: block" %>
    <%= form.text_field :doa %>
  </div>

  <div>
    <%= form.label :pic, style: "display: block" %>
    <%= form.text_field :pic %>
  </div>

  <div>
    <%= form.label :office, style: "display: block" %>
    <%= form.text_field :office %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
