<div id="<%= dom_id lecturer %>">
  <p>
    <strong>Name:</strong>
    <%= lecturer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lecturer.email %>
  </p>

  <p>
    <strong>Degrees:</strong>
    <%= lecturer.degrees %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= lecturer.appointment %>
  </p>

  <p>
    <strong>Doa:</strong>
    <%= lecturer.doa %>
  </p>

</div>
